tqdm
openai
python-docx
pdfplumber
nltk
scikit-learn
sentence-transformers
streamlit==1.32.2
spacy==3.7.2
pandas==2.2.1
numpy==1.26.4
Cython==3.0.8

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
